<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Ribbon Example</title>
    <link rel="stylesheet" href="../../static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/css/style.css">
</head>
<body>
</body>
<script src="../../static/js/jquery-1.11.3.min.js"></script>
<script src="../../static/js/request_implementation.js"></script>
<script src="../../static/js/js.cookie.js"></script>
<script>
    $(function () {
        requireLogin();
    })
</script>
</html>