<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Example</title>
    <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="container">
            <form class="form-horizontal col-lg-8" action="form_response.php" method="post">
                <fieldset>
                    <legend>Ein neues Studio registrieren:</legend>
                    <div class="form-group">
                        <label for="Name" class="col-lg-2 control-label">Name *</label>
                        <div class="col-lg-10">
                            <input class="form-control" id="studioName" placeholder="Studioname" type="text" name="studioName" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Ort" class="col-lg-2 control-label">Plz Ort *</label>
                        <div class="col-lg-2">
                            <input class="form-control col-lg-3" id="studioZip" placeholder="Plz" type="text" name="studioZip" pattern="[0-9]{5}\s[\u00C0-\u017Fa-zA-Z'][\u00C0-\u017Fa-zA-Z-' ]+" required>
                        </div>
                        <div class="col-lg-8">
                            <input class="form-control col-lg-5" id="studioLocation" placeholder="Ortsname" type="text" name="studioLocation" pattern="\d+" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Straße" class="col-lg-2 control-label">Anschrift *</label>
                        <div class="col-lg-8">
                            <input class="form-control" id="studioStreet" placeholder="Straße" type="text" name="studioStreet" pattern="[\u00C0-\u017Fa-zA-Z-'\s]+\s[0-9]+[\w]" required>
                        </div>
                        <div class="col-lg-2">
                            <input class="form-control col-lg-5" id="studioStreetNr" placeholder="Nr" type="text" name="studioLocation" pattern="\d+" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Straße" class="col-lg-2 control-label">Telefon</label>
                        <div class="col-lg-10">
                            <input class="form-control" id="Telefon" placeholder="Telefonnummer" type="tel" name="studioPhone" pattern="^(?:0|\(?\+33\)?\s?|0033\s?)[1-79](?:[\.\-\s]?\d\d){4}$">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Submitter" class="col-lg-2 control-label">Eingetragen als</label>
                        <div class="col-lg-10">
                            <select class="form-control accordion-dropdown" id="select" name="submitType">
                                <option value="withAddress studio">Studio Inhaber</option>
                                <option value="withoutAddress" selected="selected">Anonym</option>
                            </select>
                        </div>
                    </div>
                    <div class="accordion" id="accordion">
                        <div class="accordion-group">
                            <div class="panel-collapse collapse" id="userInfo">
                                <div class="form-group">
                                    <label for="Name" class="col-lg-2 control-label">Name</label>
                                    <div class="col-lg-10">
                                        <input class="form-control" id="Name" placeholder="Name / Kürzel" type="text" name="userName" pattern="[\u00C0-\u017Fa-zA-Z-']+\w[\u00C0-\u017Fa-zA-Z-']">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="Ort" class="col-lg-2 control-label">Plz Ort *</label>
                                    <div class="col-lg-2">
                                        <input class="form-control col-lg-3" id="ownerZip" placeholder="Plz" type="text" name="studioZip" pattern="[0-9]{5}\s[\u00C0-\u017Fa-zA-Z'][\u00C0-\u017Fa-zA-Z-' ]+" required>
                                    </div>
                                    <div class="col-lg-8">
                                        <input class="form-control col-lg-5" id="ownerLocation" placeholder="Ortsname" type="text" name="studioLocation" pattern="\d+" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="Straße" class="col-lg-2 control-label">Telefon</label>
                                    <div class="col-lg-10">
                                        <input class="form-control" id="Telefon" placeholder="Telefonnummer" type="tel" name="studioPhone" pattern="^(?:0|\(?\+33\)?\s?|0033\s?)[1-79](?:[\.\-\s]?\d\d){4}$">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="name" class="col-lg-2 control-label"></label>
                        <div class="col-lg-10">
                            <div class="g-recaptcha" data-size="normal" data-sitekey="6Ldahw8TAAAAAA_WVGzpXB9oRwILwfyjeppNfDOl"></div>
                        </div>
                    </div>
                    <div class="col-lg-12 text-right">
                        <button type="reset" class="btn btn-warning">Reset</button>
                        <button type="submit" class="btn btn-primary submit" value="send">Absenden</button>
                    </div>
        </div>
        </fieldset>
        </form>
    </div>
</div>
</div>
</body>
<script src="../static/js/jquery-1.11.3.min.js"></script>
<script src="../static/js/jqueryTest.js"></script>
<script src="../bootstrap/js/bootstrap.min.js"></script>
<script src="../bootstrap/js/transition.js"></script>
<script src='https://www.google.com/recaptcha/api.js'></script>
<script>
    $( document ).ready(function() {
        $("#select").change(function(){
            if ( $(this).val().indexOf("withAddress") != -1){
                $('#userInfo').collapse('show');
            } else {
                $('#userInfo').collapse('hide');
            }
        })
    });
</script>
</html>